body {
    font-family: montserrat;
    background: rgb(255,163,247);
    background: linear-gradient(90deg, rgba(255,163,247,1) 0%, rgba(255,201,250,1) 82%);   
}

h1 {
    font-family: chilanka;
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.content-wrapper {
    padding: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 24px;
    padding: 5px;
}

li img {
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.main-block {
    background: rgb(133,145,255);
    background: linear-gradient(90deg, rgba(133,145,255,1) 0%, rgba(109,211,252,1) 82%);
    margin: auto;
    margin-top: 200px;
}

input {
    height: 35px;
    width: 300px;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.svg-wrapper {
    height: 45px;
    width: 45px;
    margin-left: 10px;
}

svg:hover {
    cursor: pointer;
}

